@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
  margin: 0 auto;
  max-width: 1366px;

  nav {
    display: flex;
    background: url(img/nav.gif);
    align-items: center;
    a:hover,
    a:visited,
    a:link,
    a:active {
      color: white;
      text-decoration: none;
    }
    a.banner {
      font-size: 36px;
      letter-spacing: -2px;
      padding: 10px 0 8px;
      margin-left: 24px;
      margin-right: 122px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 306px;
      li:nth-child(2) {
        margin-left: 5px;
      }
      li {
        list-style-type: none;

        a {
          padding: 16px 0;
          font-size: 16px;
          letter-spacing: -1px;
          font-family: "Arial";
          font-weight: bold;
        }
        a:hover {
          color: $yellow;
        }
      }
    }
  }

  main {
    button {
      font-weight: bold;
      border: none;
      outline: inherit;
      cursor: pointer;
    }
    div.slideshow {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 82.5px 0 60px 0;

      button.buttonright,
      button.buttonleft {
        display: inline-block;
        border-radius: 50%;
        background: $mauve;
        margin-bottom: 10px;
        color: white;
        width: 92px;
        height: 92px;
        font-size: 32px;
        line-height: 1px;
        text-align: center;

      }
      button.buttonright:hover,
      button.buttonleft:hover {
        background-color: $lightmauve;
      }

      div.myslides {
        display: flex;
        position: relative;
        margin: 0 12px;

        div.imgtext {
          h3 {
            position: absolute;
            color: white;
            margin: 15px 0 0 12px;
          }
          img {
            width: 736px;
            height: 414px;
          }
        }

        div.container {
          margin-left:  40px;
          width: 260px;
          height: 414px;
          border: 8px solid $lightmauve;
          position: relative;

          div.details {
            margin: 16px 14px ;
            p:first-child {
              font-size: 28px;
              font-weight: bold;
              letter-spacing: 1px;
            }
            p:last-child {
              margin-top: -8px;
              margin-bottom: 20px;
              line-height: 20px;
            }
          }

          div.price {
            background: $mauve;
            p {
              color: white;
              margin-left: 12px;
            }
            p:first-child {
              font-size: 38px;
              font-weight: bold;
              letter-spacing: 0.5px;
              padding-top: 13px;
            }

            button.buybutton {
              background: $yellow;
              color: $btntext;
              font-size: 22px;
              border-radius: 3px;
              width: 113px;
              height: 39px;
              margin: 12px 0 16px 120px;
            }
            button.buybutton:hover {
              background-color: $lightmauve;
              color: white;
            }
          }
        }

        div.container:after,
        div.container:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 100%;
          width: 0;
          height: 0;
          border-style: solid;
        }
        div.container:after {
          border-color: transparent white transparent transparent;
          border-width: 18px;
        }
        div.container:before {
          border-color: transparent $lightmauve transparent transparent;
          border-width: 28px;
        }
      }
    }

    div.icons {
      display: flex;
      background: $mauve;
      justify-content: space-between;
      padding:  2px 0 54px ;
      img {
        width: 160px;
        height: 160px;
        font-weight: 150px;
      }
      p {
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
      }
      div.pack{
        margin-left: 28%;
        img{
          margin: 13px 0 -13px;
        }
      }
      div.fly{
        margin-left: 22px;
        img{
          margin: 16px 0 -15px;
        }
      }
      div.live{
        margin-right: 27%;
        img{
          margin: 16px 0 -13px;
        }
        p{
          margin-left: 14px;
        }
      }
    }

    article {
      h1 {
        background: $lightmauve;
        padding: 21.5px 11.75%;
        font-size: 35px;
        letter-spacing: 1.5px;
        color: white;
      }

      p {
        padding: 0 11.9%;
        letter-spacing: 0.4px;
        max-width: 1030px;
        line-height: 25px;
      }
      p:first-of-type {
        margin-top: 72px;
      }
      p:last-of-type {
        margin-top: 26px;
        margin-bottom: 60px;
      }
      button.orderbutton {
        width: 236px;
        height: 67px;
        border-radius: 3px;
        background: $yellow;
        color: $btntext;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.6px;
        margin-left: 11.9%;
        text-align: center;

      }
      button.orderbutton:hover {
        background-color: $lightmauve;
        color: white;
      }
    }
  }

  footer {
    display: flex;
    margin-top: 85px;
    align-items: center;
    height: 83px;
    background: rgba(51, 51, 51);
    span {
      color: white;
      font-size: 13px;
      letter-spacing: -0.2px;
      margin-left: 25px;
    }
  }
}

@media screen and (max-width: 1230px) {
  div.wrapper {
    main {
      div.slideshow {
        button#rightbtn,
        button#leftbtn {
          background: none;
          width: 20px;
          height: 20px;
        }
        button.buttonright,
        button.buttonleft {
          position: relative;
        }
        button.buttonright {
          right: 12%;
        }
        button.buttonleft {
          left: 12%;
          z-index: 2;
        }
        div.myslides {
          justify-content: center;
          div.container {
            display: none;
          }
        }
      }
      div.icons {
        justify-content: space-evenly;
        div{
          margin: 0;
          padding: 0;
          img{
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.wrapper {
    nav {
      a.banner {
        margin: 0 10px;
        font-size: 16px;
      }
      ul {
        justify-content: space-evenly;
        li {
          a {
            padding: 6px 0;
          }
        }
      }
    }
    main {
      div.slideshow {
        div.myslides {
          div.imgtext {
            width: 99% !important;

            img {
              width: 100% !important;
              height: 300px !important;
            }
          }
        }
      }
    }
  }
}
