@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
  margin: 0 auto;
  max-width: 1366px;

  nav {
    display: flex;
    background: url(img/nav.gif);
    align-items: center;
    a:hover,
    a:visited,
    a:link,
    a:active {
      color: white;
      text-decoration: none;
    }
    a.banner {
      font-size: 36px;
      letter-spacing: -2px;
      padding: 10px 0;
      margin-left: 24px;
      margin-right: 122px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 306px;
      li:nth-child(2) {
        margin-left: 5px;
      }
      li {
        list-style-type: none;

        a {
          padding: 16px 0;
          font-size: 16px;
          letter-spacing: -1px;
          font-family: "Arial";
          font-weight: bold;
        }
        a:hover {
          color: $yellow;
        }
      }
    }
  }

  main {
    button {
      font-weight: bold;
      border: none;
      outline: inherit;
      cursor: pointer;
    }
    div.slideshow {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 70px 0 50px 0;

      div.myslides {
        display: flex;
        position: relative;
        align-items: center;
        div.imgtext {
          h3 {
            position: absolute;
            color: white;
            margin: 14px 0 0 14px;
          }
          img {
            width: 736px;
            height: 414px;
          }
        }

        div.container {
          margin: 14px 0 14px 40px;
          width: 260px;
          height: 414px;
          border: 9px solid $lightmauve;
          position: relative;

          div.details {
            margin: 14px;
            p:first-child {
              font-size: 28px;
              font-weight: bold;
              letter-spacing: 1px;
            }
            p:last-child {
              line-height: 20px;
            }
          }

          div.price {
            background: $mauve;

            p {
              color: white;
              margin-left: 12px;
            }
            p:first-child {
              font-size: 38px;
              font-weight: bold;
              letter-spacing: 0.5px;
              padding-top: 12px;
            }

            button.buybutton {
              background: $yellow;
              color: $btntext;
              font-size: 22px;
              border-radius: 3px;
              width: 113px;
              height: 39px;
              margin: 14px 0 16px 120px;
            }
            button.buybutton:hover {
              background-color: $lightmauve;
              color: white;
            }
          }
        }

        div.container:after,
        div.container:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 100%;
          width: 0;
          height: 0;
          border-style: solid;
        }
        div.container:after {
          border-color: transparent white transparent transparent;
          border-width: 18px;
        }
        div.container:before {
          border-color: transparent $lightmauve transparent transparent;
          border-width: 28px;
        }
      }
      button.buttonright,
      button.buttonleft {
        border-radius: 50%;
        background: $mauve;
        padding: 0;
        color: white;
        width: 92px;
        height: 92px;
        font-size: 32px;
        text-align: center;
        vertical-align: middle;
      }
      button.buttonright:hover,
      button.buttonleft:hover {
        background-color: $lightmauve;
      }
    }

    div.icons {
      display: flex;
      position: relative;
      background: $mauve;
      justify-content: space-evenly;
      padding: 48px 20%;

      svg {
        width: 100px;
        height: 120px;
      }
      p {
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
      }

      div.pack {
        margin-left: 20px;
        #XMLID_8_ {
          fill: $darkyellow;
        }
      }
      div.fly {
        margin-left: 24px;
        margin-right: 10px;
        #XMLID_6_ {
          fill: $darkgreen;
        }
      }
      div.live {
        #XMLID_2_ {
          fill: $lightgreen;
        }
      }
    }

    article {
      h1 {
        background: $lightmauve;
        padding: 21.5px 11.9%;
        font-size: 35px;
        letter-spacing: 1.5px;
        color: white;
      }

      p {
        padding: 0 11.9%;
        letter-spacing: 0.4px;
        max-width: 1030px;
        line-height: 25px;
      }
      p:first-of-type {
        margin-top: 72px;
      }
      p:last-of-type {
        margin-top: 28px;
        margin-bottom: 68px;
      }
      button.orderbutton {
        width: 236px;
        height: 67px;
        border-radius: 3px;
        background: $yellow;
        color: $btntext;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.8px;
        margin-left: 11.9%;
        text-align: center;
        vertical-align: middle;
      }
      button.orderbutton:hover {
        background-color: $lightmauve;
        color: white;
      }
    }
  }

  footer {
    display: flex;
    margin-top: 84px;
    align-items: center;
    height: 83px;
    background: rgba(51, 51, 51);
    span {
      color: white;
      font-size: 13px;
      margin-left: 22px;
    }
  }
}

@media screen and (max-width: 530px) {
  div.slideshow {
    div.myslides {
      justify-content: center;

      div.container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  button#rightbtn,
  button#leftbtn {
    background: none;
  }
  button.buttonright,
  button.buttonleft {
    position: relative;
  }
  button.buttonright {
    right: 8%;
  }
  button.buttonleft {
    left: 8%;
    z-index: 2;
  }
}
