$mauve: rgba(99, 98, 167);
$lightmauve: rgba(143, 142, 199);
$yellow: rgba(255, 206, 34);
$darkyellow: rgba(245, 185, 68);
$darkgreen: rgba(106, 241, 208);
$lightgreen: rgba(198, 241, 106);
$btntext: #333333;
